<div>
  <% @posts.each do |post| %>
    <div class='box'>
      <h2 class='title is-3'>
        <%= post.title %>
      </h2>

      <% if user_signed_in? %>
        <p class='subtitle is-5'>by: <%= post.user.username %></p>
      <% end %>

      <p class='subtitle is-6'>
        <%= post.body %>
      </p><br>

      <%= link_to 'read more', user_post_path(post.user, post) %>
    </div>
  <% end %>
</div>
